.header{
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 40px;
}
.header-logo{
    border-radius: 50%;
    vertical-align: middle;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.header-text{
    font-size: 40px;
    font-weight: 300; 
    line-height: 58px;
    margin-left: 40px;
}

#gli{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  #gli:before,
  #gli:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  #gli:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  #gli:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }
  
  
  

@media all and(max-width:1279px)
{
    .header-logo{
        height: 53px;
    }
}
@media all and(max-width:767px)
{
    .header{
      padding-bottom: 50px;
    }
}
